*{
    box-sizing: border-box;
    margin-right: 50px;
    margin-left: 50px;
}



body{
   
    padding: 30px 0px 30px 0px ; 
    background-color: whitesmoke;

    font-family: Times, serif;
    font-size: 19px;  
}


.imgs{
    position:relative ;
    /* background-color: #3aad94; */
     width: 30%;
    float: right;
     display:inline;

}

.socialMedia{
    /* background-color: #d31d8d; */
    height: 8mm;
    width: 8mm;
margin-top:2% ;
margin-bottom:2% ;
margin-right: 5px; ;
margin-left: 5px; ;
float: left;
}

h1{
     /* background-color: rgb(187, 25, 25);  */
     width: 40%;
     float: left;
margin-top: 0px;
     font-family: "Sofia", sans-serif;
     font-weight:bolder ;
     color: rgb(11, 99, 84);
}


nav{
    width: 100%;
    background-color: rgb(82, 139, 6);
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    margin-top: 100px;
    padding-top: 20px; ;
    padding-bottom: 10px;
}

nav ul{
    position:relative;
    width: 100%;
    /* background-color: rgb(89, 104, 16); */
    display: inline;
   
    padding-top: 20px;
    padding-bottom: 20px;

}

nav ul li{
    /* background-color: rgb(84, 87, 75); */

    display:inline; 
     padding: 1px;
     padding-top: 15px;
    padding-bottom: 15px;
}

nav ul li a{
    display:inline;
font-size:medium ;
    color:#ffffff;
    text-decoration: none;
    font-weight: bold;
}


.firstImg{
    background-color: rgb(186, 245, 23);
    margin-top: 1mm;
    margin-bottom: 10mm;
    padding-top: 10px;
    padding-bottom: 10px;

    width: 50%;
    display: block;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;

}

.firstPar{

text-align: justify;
font-family: Times, serif;

} 

.bar1{
    font-family: Times, serif;

    width: 100%;
    margin-top:35px ;
}

.column {
  float: left;
  width: 24%;
  padding: 5px;
} 

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table; 
}

.middleImg{
         display: block;
        width: 30%;
        border-radius: 50%;
        margin-left: auto;
        margin-right: auto;  
        margin-top: 70px;
        margin-bottom: 10px;
        float: right;

}

.SecondPar{
     width: 100%;
     font-family: Times, serif;

}



 
.secondDiv{
    background-color: whitesmoke;
    margin-top: 30mm;
    margin-bottom: 10mm;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 5px;
    width: 50%;
    display: block;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    float: right;
    height: 400px;
}

h2{
    text-align: center;
    float: none;
    color: rgb(23, 0, 128);
    font-size: xx-large;
    font-family: "Sofia", sans-serif;

}

ul{
    width: 40%;
    
}


 ul li{

    display:inline-block;
   
    padding-left:150px ;  
}

.secondUl li a{
    float: left;

    color:#ee0c0c;
    text-decoration: none;
    font-weight: bold;
}


.thirdDiv{
    width: 100%;
    float: right;
    padding: 0px;
} 

.familyImg{
    width: 80%;
    display: block;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
} 


.lastImg{
    background-color: rgb(41, 160, 51);
    width: 50%;
    height: 400px;
    float: left;
     border-radius: 50%;
    margin-left: auto;
    margin-right: auto; 
    margin-top: 70px;
} 

.fourPar{
    /* background-color: rgb(65, 199, 199); */
    width: 40%;
    float:right ;
    margin-top: 100px;
    font-family: Times, serif;


    }

footer{

    /* background-color: blueviolet; */
    text-align: center;
width: 100%;
margin-top: 40px;

}

    

.aboutUs{
    text-align: center;
    font-family: "Sofia", sans-serif;
    color: rgb(23, 0, 128);
font-size: xx-large;
font-weight:bolder ; 
}


.most{

    font-family: "Sofia", sans-serif;
width: 60%;
}

h3{
    text-align: center;
    font-family: "Sofia", sans-serif;
    color: rgb(23, 0, 128);
font-size: xx-large;
font-weight:bolder ; 
}